h1 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 42.26px;
  letter-spacing: 0.3px;
}

#p_title {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.2px;
}

#title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 48px;
}

#components {
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  gap: 98px;
}

#components_all_red {
  background: url(tire.png);
  width: 370px;
  height: 334px;
  border: 1px solid;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  gap: 22px;
  background: #d73939;
}

.components_all {
  width: 370px;
  height: 334px;
  border: 1px solid;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  gap: 22px;
}

h2 {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0, 5px;
}

#btn_white {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  border-style: none;
  background-color: #d73939;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.2px;
}

.btn {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #d73939;
  border-style: none;
  background-color: #ffffff;
}

/* tutaj trochę głupieję: nie wiem czy komponenty wrzucić w ul a później kontent wrzucić w div'y, czy div'y w div'y i bawić się marginem 
.content{
display: flex;
position: absolute;
padding: 88px;
} */
